
body {
    background-color: #f8f9fa;
}
.navbar {
    margin-bottom: 20px;
}
.card {
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
}
.card-img-top {
    height: 300px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
}
.agotado {
    color: red; /* Color para el texto de agotado */
    font-weight: bold;
}
.loading-spinner {
    display: none; /* Cambia esto a block para mostrar */
}*/


.navbar {
    margin-bottom: 20px;
}

.navbar .navbar-brand {
    font-size: 1.5em;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1.1em;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.agotado {
    color: red;
    font-weight: bold;
}

.navbar .nav-item {
    margin-right: 10px;
}

.navbar .nav-item a {
    padding: 10px 15px;
    border-radius: 5px;
}

.navbar .nav-item a:hover {
    background-color: #f8f9fa;
}